
body{
    background-color: #050505;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

h1{
    font-size: 3rem;
    color: #069b06;
    text-transform: capitalize;
    text-align: center;
}

.sectionSearch{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#buscador{
    background-color: #2fc52f;
    border: none;
    border-radius:4px;
    color: #fafafa;
    font-size:1rem;
    margin-right: 20px;
    padding: 14px 80px;
    text-align: center;
}

#buscador::placeholder{
    color: #fff;
    text-transform: capitalize;
}

#btn{
    background-color: #ffffff;
    border: none;
    border-radius:4px;
    border: 2px solid #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 10px 40px;
}

#btn:hover{
    background-color: transparent;
    border: 2px solid #ffffff;
    box-shadow: 0px 3px 0 #ffffff;
    color: #ffffff;
}

#btn:active{
    box-shadow: 0px 0px 0 #ffffff;
    position: relative;
    top: 4px;
}

.contenedorDatos{
    animation: mostrarDatos 5s ease-in-out;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    margin: 60px 0px 0px 0px;
    /* opacity: 0; */
}

.tarjeta{
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #29f306;
    color: #000000;
    cursor: pointer;
    margin:26px;
    height: auto;
    text-align: center;
    width: 340px;
}

.tarjeta:hover{
    position: relative;
    bottom: 20px;
}

.tituloTarjeta{
    background-color: #000000;
    color: #0ab710;
    padding: 10px;
}

.origen{
    text-align: left;
    margin-left: 20px;
}

.origen span{
    color: #149c08;
    font-weight: bold;
}

.descripcion{
    font-size: 0.900rem;
    padding: 20px;
    text-align: left;
}


@keyframes mostrarDatos {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.alerta{
    background-color: rgb(5, 180, 31);
    border-radius: 4px;
    display: none;
    font-size: 1.6rem;
    left: 360px;
    height: 10%;
    line-height: 40px;
    padding: 40px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 280px;
    width: 40%;
}

.alertaResultados{
    display: none;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.alertaResultados span{
    color: rgb(249, 3, 3);
}